@import url("https://fonts.googleapis.com/css2?family=Allura&family=Chelsea+Market&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --color: #f36c42;
}
body {
  width: 250px;
  color: white;
  background: url("../assets/images/background_image.jpg");
  background-position: -66px -80px;
  padding: 0 40px 40px 40px;
}
.logo-area {
  color: var(--color);
  font-family: "Allura", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 30px;
}
.logo {
  width: 40px;
  margin-bottom: 10px;
}
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26vh;
}
.room-code-input {
  background: rgba(243, 108, 66, 0.43);
  border: 1px solid #f36c42;
  box-shadow: 0px 0px 1px 1px rgba(243, 108, 66, 0.46);
  border-radius: 10px;
  outline: none;
  width: 90%;
  height: 40px;
  color: white;
  padding-left: 10%;
  font-family: "Poppins", sans-serif;
}
.room-code-input::placeholder {
  color: white;
  font-family: "Poppins", sans-serif;
}
.room-code-input::-webkit-input-placeholder {
  color: white;
  font-family: "Poppins", sans-serif;
}
.button-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  grid-gap: 15px;
  margin-top: 20%;
}
.btn {
  background: var(--color);
  border: 0;
  border-radius: 5px;
  color: white;
  width: 100%;
  height: 40px;
  transition: 250ms;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.btn:hover {
  transform: scale(1.1);
}
.btn:active {
  transform: scale(0.9);
}
.transparent-btn {
  background: rgba(243, 108, 66, 0.43);
  border: 1px solid #f36c42;
}
.disabled {
  background: rgba(135, 74, 74, 0.595);
  cursor: not-allowed;
}

.main-content {
  width: 660px;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate(0, 100%);
  transition: 350ms;
  overflow-y: auto;
  display: flex;
}
.main-content.moveup.moveleft {
  transform: translate(-50%, 0);
}
.main-content.moveup {
  transform: translate(0, 0);
}
.resize {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: transparent;
}
.close-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 15px;
}
#video-container {
  margin-top: 30px;
  padding: 0 15px;
  flex-direction: column;
  display: flex;
  grid-gap: 10px;
  height: 326px;
  overflow-y: auto;
}
.video-card {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color);
  align-items: center;
  height: 50px;
}
.video-card > * {
  width: 100%;
  height: 100%;
}
.sync-btn {
  border-radius: 0;
}
.video-index {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--color);
  font-family: "Poppins", sans-serif;
}

.video-list-content {
  width: 330px;
}

.room-content {
  width: 330px;
}

.room-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.room-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

#room-id {
  font-size: 60px;
}

.leave-btn {
  width: 200px;
  background: #bd1c1c;
}

#reload-img {
  position: absolute;
  z-index: 2;
  top: 37%;
  left: 20%;
  cursor: pointer;
}
